.title{
  color: #02ccba;
}
p{
color:red;
  font-size:20px;
}

p:hover{
color:blue;
}
img{
width:20%;
}
h2{
border:10px solid blue;
  color:white;
}
.zentai{
background-image:url("https://www.pakutaso.com/shared/img/thumb/ELT140405465316_TP_V.jpg");
  height:4000px;
  width:70%;
  margin:0 auto;
  background-size:cover;
}
.btn{
color:white;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  padding:10px 30px 10px 30px; 
  margin-bottom:30px;
  display:inline-block;
}
.btn:active{
  box-shadow:none;
  position:relative;
  top:7px;
}
.login-modal-wrapper{
  display:none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  
}
.close-modal{
  cursor:pointer;
}
  
  
  
