.title{
  color: #02ccba;
}
p{
color:red;
  font-size:20px;
}

p:hover{
color:blue;
}
img{
width:20%;
}
.border{
border:10px solid blue;
  color:white;
}
.zentai{
background-image:url("https://www.pakutaso.com/shared/img/thumb/ELT140405465316_TP_V.jpg");
  height:3000px;
  width:70%;
  margin:0 auto;
  background-size:cover;
}
.btn{
color:white;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  padding:10px 30px 10px 30px; 
  margin-bottom:30px;
  display:inline-block;
}
.btn,.blogbtn:active{
  box-shadow:none;
  position:relative;
  top:7px;
}
.blogbtn{
color:white;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  padding:5px 20px 5px 20px; 
  margin-bottom:30px;
  display:inline-block;
}
.login-modal-wrapper{
  display:none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.close-modal{
  cursor:pointer;
}
  
#login-form h3 {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

header ul{
float:right;
}
header h2{
float:left;
}
header{
height:200px;
background-color:#26d0c9;
color:white;    
}
@media(max-width:700px){
 header{
  background-color:blue;
  }
}

  
  
  
